.playlist-view {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  color: white;
  flex-basis: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.playlist-view h2 {
  color: #ffa500;
}

.playlist-view ul {
  overflow-y: auto;
}

#playlist-details {
  list-style-type: none;
  padding: 0;
}

 #playlist-details li {
  border-bottom: 1px solid #444;
  cursor: pointer;
}

#playlist-details li:hover {
  background-color: #383838;
}

button {
  margin-top: 10px;
  background-color: #ffa500;
  color: #383838;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 10px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffba00;
  box-shadow: 0 0 5px 1px #ffba00;
}

button:focus {
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.left-arrow {
  left: 10px;
  color: #ae2c2c;
}

@media screen and (max-width: 600px) {
  .playlist-view {
    flex-basis: 100%;
  }
}
