.selectable-list-section {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  color: white;
  flex-basis: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.selectable-list-section h2 {
  color: #ffa500;
}

#selectable-list {
  list-style-type: none;
  padding: 0;
}

#selectable-list li {
  border-bottom: 1px solid #444;
  cursor: pointer;
}

#selectable-list li:hover {
  background-color: #383838;
}

.selectable-list-item {
  padding: 10px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#selectable-list-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  margin-top: 10px;
  background-color: #ffa500;
  color: #383838;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 10px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffba00;
  box-shadow: 0 0 5px 1px #ffba00;
}

button:focus {
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.new-selectable-item-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
  font-size: inherit;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.new-selectable-item-input:focus {
  outline: none;
  border-bottom-color: #666;
}

.selected-list-item {
  background-color: #272727;
}

.selected-list-item:hover {
  background-color: #272727 !important;
}

@media screen and (max-width: 600px) {
  .selectable-list-section {
    flex-basis: 100%;
  }
}
