{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="static/css/schedule-style.css">
<script src="static/js/schedule-scripts.js"></script>

<div class="main-content">
  {% include 'selectable_list.html' %}

  {% include 'track_list.html' %}

  <div class="edit-panel">
    <div class="title-container">
      <h2><span id="schedule-name"></span></h2>
      <div class="button-container">
        <button id="delete-schedule" class="hidden delete-btn" onclick="removeSchedule()">Usuń</button>
        <button id="save-schedule" class="hidden save-btn" onclick="saveSchedule(selectedItemId)">Zapisz</button>
      </div>
    </div>

    <div id="schedule-details">
      <div class="input-group">
        <div class="label-column">
          <label for="schedule-type">Rodzaj:</label>
        </div>
        <div class="input-column">
          <select id="schedule-type" name="schedule-type">
              <option value="daily">Codzienny</option>
              <option value="yearly">Jednorazowy</option>
          </select>
        </div>
      </div>

      <div class="input-group">
        <div class="label-column">
          <label for="schedule-time">Czas:</label>
        </div>
        <div class="input-column">
          <input type="time" id="schedule-time" name="schedule-time">
        </div>
      </div>

      <div class="input-group">
        <div class="label-column">
        <label for="schedule-date">Data:</label>
        </div>
        <div class="input-column">
          <input type="date" id="schedule-date" name="schedule-date">
        </div>
      </div>

      <div class="input-group">
        <div class="label-column">
          <label for="track-name">Utwór:</label>
        </div>
        <div class="input-column">
          <input id="track-name" name="track-name" disabled>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
