{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="static/css/settings-style.css">
<script src="static/js/settings-scripts.js"></script>

<div class="main-content">
  <div class="settings-view">
    <div class="title-container">
      <h2><span>Ustawienia</span></h2>
    </div>

    <div class="setting-group">
      <label for="audio-output">Wyjście audio</label>
      <select id="audio-output" name="audio-output">
        {% for device in audio_devices %}
        <option value="{{ device }}" {% if settings['audio_output'] == device %}selected{% endif %}>{{ device }}</option>
      {% endfor %}
      </select>
    </div>

    <div class="setting-group">
      <label for="always-show-player">Odtwarzacz zawsze na wierzchu</label>
      <label class="fancy-checkbox-switch">
        <input type="checkbox" id="always-show-player" {% if settings['player_always_on_top'] %}checked{% endif %}>
        <span class="fancy-checkbox-slider"></span>
      </label>
    </div>

    <div class="setting-group">
      <div>
        <label>Godziny pracy</label>
      </div>
      <div>
        <div class="time-container">
          <span class="label">Od</span>
          <input type="time" id="from-time" value="{{ settings['working_from'] }}">
        </div>
        <div class="time-container">
          <span class="label">Do</span>
          <input type="time" id="to-time" value="{{ settings['working_to'] }}">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
