{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/playlist-style.css') }}">
<script src="{{ url_for('static', filename='js/playlist-scripts.js') }}"></script>

<div class="main-content">

  {% include 'selectable_list.html' %}

  {% include 'track_list.html' %}

  <div class="playlist-view">
    <div class="title-container">
      <h2><span id="playlist-name"></span></h2>
      <div class="button-container">
        <button id="delete-playlist" class="hidden delete-btn" onclick="removePlaylist()">Usuń</button>
        <button id="save-playlist" class="hidden save-btn" onclick="savePlaylist(selectedItemId)">Zapisz</button>
      </div>
    </div>
      <ul id="playlist-details">
      </ul>
  </div>
</div>

{% endblock %}
