{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/player-style.css') }}">
<script src="{{ url_for('static', filename='js/player-scripts.js') }}"></script>

<div class="main-content">

  {% include 'selectable_list.html' %}

  <div class="playlist-container">
    <div class="title-container">
      <h2 id="playlist-title"></h2>
    </div>
    <!-- todo: this should rather check if there are any tracks inside the current playlist -->
    <p id="no-tracks-message" {% if selectable_list_entries|length > 0 %} class="hidden" {% endif %}>Brak dostępnych utworów.</p>
    <ul id="playlist">
    </ul>
  </div>
</div>

{% endblock %}
