<script type="text/javascript">
  var selectable_list_entries = {{ selectable_list_entries_json|safe }};
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/selectable_list-style.css') }}">
<script src="{{ url_for('static', filename='js/selectable_list-scripts.js') }}"></script>

<div class="selectable-list-section">
  <div class="title-container">
    <h2 id="selectable-list-title">{{ selectable_list_title }}</h2>
    {% if show_create_new_item_button %}<button id="selectable-list-create-button" onclick="newSelectableEntry()">Dodaj</button>{% endif %}
  </div>
  <ul id="selectable-list">
    <p id="no-entries-message" {% if selectable_list_entries|length > 0 %} class="hidden" {% endif %}>Brak dostępnych elemetów.</p>
    {% for entry in selectable_list_entries %}
      <li onclick="callSelectCallback({{ loop.index0 }})">
        <div class="selectable-list-item">{{ entry['name'] }}</div>
      </li>
    {% endfor %}
  </ul>
</div>
